@use './base';
@use "sass:math";
@function rem($pixels, $context: 16) {
	@return (math.div($pixels, $context)) * 1rem;
}
.table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #tb1, #tb2 {
        width: 90%;
        margin: rem(15);
    }
    table, th, td {
        border: 2px solid var(--border-color);
        padding: rem(15);
        width: rem(180);
        text-align: center;
        color: var(--text-color);
        border-collapse: collapse;
    }
    th {
        font-size: rem(14);
        background-color: var(--bg-color);
    }
    td{
        background-color: var(--inputbg-color);
        
    }    
}
#country {
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
        font-size: rem(20);
        font-weight: 600;
        padding: 0 rem(8);
    }
}
#cases {
    color: var(--caseText);
    font-weight: 600;
}
#deaths {
    color: var(--deathText);
    font-weight: 600;
}
#recovered {
    color: var(--recoverText);
    font-weight: 600;
}
#active {
    color: var(--inputText);
    font-weight: 600;
}   
.text {
    margin: rem(20);
    color: #9397a1;  
}
